[Desktop Entry]
Version=1.0
Type=Application
Name=Chromium
GenericName=Web Browser
Comment=Access the Internet
Exec=/usr/bin/chromium --force-device-scale-factor=0.7 %U
Icon=chromium
Terminal=false
StartupNotify=true
Categories=Network;WebBrowser;
MimeType=text/html;application/xhtml+xml;x-scheme-handler/http;x-scheme-handler/https;
Actions=new-window;new-private-window;

[Desktop Action new-window]
Name=New Window
Exec=/usr/bin/chromium --force-device-scale-factor=0.7

[Desktop Action new-private-window]
Name=New Incognito Window
Exec=/usr/bin/chromium --force-device-scale-factor=0.7 --incognito
