[Desktop Entry]
Type=Application
Name=Spotify
GenericName=Music Player
Exec=spotify --force-device-scale-factor=0.7 --uri=%u
Icon=spotify
Terminal=false
MimeType=x-scheme-handler/spotify;
Categories=Audio;Music;Player;AudioVideo;
